# CMake build directory
[Bb]uild/

# Visual Studio 2015/2017 cache/options directory
.vs/
.cache/

# App/*.exe, App/*.pdb
App/*/*.exe
App/*/*.pdb
App/*/*.dll
App/*/*.o
# log file
App/*.log

# windows
App/Win64_*/
App/Win32_*/

#linux
App/Linux_*/

# Runtime generated reflection code
Runtime/*/Gen/

# C# build artifacts
Tools/MetaParser/src/bin/
Tools/MetaParser/src/obj/

# Legacy tool output folder
Tools/Tool/


