# CMake build directory
[Bb]uild/

# Visual Studio 2015/2017 cache/options directory
.vs/

# App/*.exe, App/*.pdb
App/*/*.exe
App/*/*.pdb
App/*/*.dll
App/*/*.o
# log file
App/*.log

# windows
App/Win64_*/
App/Win32_*/

#linux
App/Linux_*/

