<#@ template language="C#" hostspecific="true" #>
<#
    string linkFunctionName = (string)(Session["LinkFunctionName"] ?? "LinkReflectionTypes_UnknownTarget");
#>
#pragma once

namespace NLS::meta_generated
{
void <#= linkFunctionName #>();
}

#define NLS_META_GENERATED_LINK_FUNCTION ::NLS::meta_generated::<#= linkFunctionName #>
