<#@ template language="C#" hostspecific="true" #>
<#
    dynamic model = Session["Model"];
    string linkFunctionName = model.LinkFunctionName;
#>
#pragma once

namespace NLS::meta_generated
{
void <#= linkFunctionName #>();
}

#define NLS_META_GENERATED_LINK_FUNCTION ::NLS::meta_generated::<#= linkFunctionName #>
